@import '../../styles/common';

.Label {
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  @include visually-hidden;
}

.Text {
  display: block;
  flex: 1 1 auto;
  color: currentColor;
  -webkit-tap-highlight-color: transparent;
}

.RequiredIndicator::after {
  content: '*';
  color: white;
  margin-left: 2px;
}
